html, body {
    width:100%; 
    height:100%; 
    margin:0; 
    padding:0;
    font-family: 'Quicksand', sans-serif;
}
@keyframes bganimation
{
    0% {
     background-position: 
        -100% -100%,
        200% 200%,
        -100% 200%,
        200% -100%;
    }
    50% {
     background-position: 
        150% 100%,
        -200% 100%,
        100% 0%,
        0% 100%;
    }
    100% {
        background-position: 
            -100% -100%,
            200% 200%,
            -100% 200%,
            200% -100%;
    }
}


html {
    background: 
        radial-gradient(ellipse at center, rgba(255, 238, 0, 0.349) 0%, rgba(0,0,0,0) 70%), /* niebieski */
        radial-gradient(ellipse at center, rgba(60, 255, 0, 0.3) 0%, rgba(0,0,0,0) 70%), /*czerwony */
        radial-gradient(ellipse at center, rgba(38, 0, 255, 0.3) 0%, rgba(0,0,0,0) 70%) /*zielony */
        #c3d7db;
    background-repeat: 
        no-repeat, 
        no-repeat, 
        no-repeat;
    background-size: 
        900px 900px,
        900px 900px,
        900px 900px;
    background-attachment: fixed;
    animation:bganimation 30s infinite;
}
.blank{
    margin-bottom: 30px;
}
.profile{
    height: 96px;
    width: 96px;
    border-radius: 100%;
    display: block;
    margin: 0px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h2{
    font-size: 20px;
    color: rgb(0, 1, 8);
    display: block;
    margin: 20px auto;
    text-align: center;
    margin-bottom: 40px;
}
.link-item{
    background: rgb(7, 7, 49)!important;
    list-style-type: none;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.link-text{
    display: block;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    color: white;
}
h4{
    margin: 20px;
}
.link-item:hover{
    margin-left: 29%;
    margin-right: 29%;
    transition: all 0.3s;
    background: rgba(7, 7, 49, 0.856)!important;
}